<div class="left-section">
  <div class="left-header">
    <div class="user-name">
      <%= link_to edit_user_path(current_user) do %>
        <%= current_user.name %>
      <% end %>
    </div>
    <div class="chat-create_btn">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="group-menu">
    <div class="group-list">
      <div class="group-name">
        <a href="#">techroom1</a>
      </div>
    </div>
    <div class="group-list">
      <div class="group-name">
        <a href="#">techroom1</a>
      </div>
    </div>
  </div>
</div>